<div id="background-images">
    <div id="bImg1"></div>
    <div id="bImg2"></div>
    <div id="bImg3"></div>
    <div id="bImg4"></div>
</div>


<div class="container">
    <div id="wishes">
        <form id="wishesForm">
            Please take the time to wish Sam and Shannon well wishes and advice on for their marriage.<br><br>
            Your Message: <input type="text" name="message"><br>
            Your Name: <input type="text" name="name">
        </form>
    </div>
    <img id="wishesToggle" src="/img/down_arrow.png" />
</div>

