@font-face {
  font-family: arizonia;
  src: url("/fonts/arizonia/Arizonia-Regular.ttf");
}

@font-face {
  font-family: alex-brush;
  src: url("/fonts/alex-brush/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: allura;
  src: url("/fonts/allura/Allura-Regular.otf");
}

@font-face {
  font-family: exo;
  src: url("/fonts/exo/Exo-Bold.otf");
}

@font-face {
  font-family: great-vibes;
  src: url("/fonts/great-vibes/GreatVibes-Regular.otf");
}

@font-face {
  font-family: oswald;
  src: url("/fonts/oswald/Oswald-Bold.otf");
}

@font-face {
  font-family: quicksand;
  src: url("/fonts/quicksand/Quicksand-Bold.otf");
}

@font-face {
  font-family: sansation;
  src: url("/fonts/sansation/Sansation-Bold.ttf");
}

@font-face {
  font-family: yellowtail;
  src: url("/fonts/yellowtail/Yellowtail-Regular.otf");
}

@font-face {
  font-family: tangerine;
  src: url("/fonts/Tangerine/Tangerine_Bold.ttf");
}

@font-face {
  font-family: dancing-script-ot;
  src: url("/fonts/dancing-script-ot/DancingScript-Regular.otf");
}

@font-face {
  font-family: comfortaa;
  src: url("/fonts/Comfortaa/Comfortaa_Bold.ttf");
}

@font-face {
  font-family: candela;
  src: url("/fonts/Candela/CandelaBold.otf");
}

@font-face {
  font-family: calligraffiti;
  src: url("/fonts/calligraffiti/Calligraffiti.ttf");
}

@font-face {
  font-family: sf-burlington-script;
  src: url("/fonts/SF-Burlington-Script/SF_Burlington_Script_Bold_Italic.ttf");
}

@font-face {
  font-family: bentham;
  src: url("/fonts/Bentham/Bentham.otf");
}

@font-face {
  font-family: aleo;
  src: url("/fonts/aleo/Aleo-Bold.otf");
}

@font-face {
  font-family: abril-fatface;
  src: url("/fonts/abril-fatface/AbrilFatface-Regular.otf");
}
