@font-face {
  font-family: exo;
  src: url("/fonts/exo/Exo-Italic.otf");
}
@font-face {
  font-family: oswald;
  src: url("/fonts/oswald/Oswald-Regular.otf");
}
@font-face {
  font-family: quicksand;
  src: url("/fonts/quicksand/Quicksand-BoldItalic.otf");
}
@font-face {
  font-family: sansation;
  src: url("/fonts/sansation/Sansation-Italic.ttf");
}
@font-face {
  font-family: dancing-script-ot;
  src: url("/fonts/dancing-script-ot/DancingScript-Regular.otf");
}
@font-face {
  font-family: comfortaa;
  src: url("/fonts/Comfortaa/Comfortaa_Bold.ttf");
}
@font-face {
  font-family: candela;
  src: url("/fonts/Candela/CandelaBoldItalic.otf");
}
@font-face {
  font-family: calligraffiti;
  src: url("/fonts/calligraffiti/Calligraffiti.ttf");
}
@font-face {
  font-family: bentham;
  src: url("/fonts/Bentham/Bentham.otf");
}
@font-face {
  font-family: aleo;
  src: url("/fonts/aleo/Aleo-Italic.otf");
}
@font-face {
  font-family: abril-fatface;
  src: url("/fonts/abril-fatface/AbrilFatface-Regular.otf");
}

